<div class="modal">
  <div class="modal__header">
    <div class="modal__address"><img src="img/small_map.png" alt="Адресс марки" class="img__map">ул. Чкалова 96 д. 8 б</div>
    <button class="modal__close"><img src="img/close.png" alt="Закрыть отзыв" class="img__close"></button>
  </div>
  <div class="modal__comments">Отзыва пока нет...</div>
  <hr class="modal__line">
  <h3 class="form__title"> Ваш отзыв</h3>
  <form class="modal__form">
    <input type="text" class="form__name" placeholder="Ваше имя">
    <input type="text" class="form__place" placeholder="Укажите место">
    <textarea name="text" cols="42" rows="5" class="form__text" placeholder="Поделитесь впечатлениями"></textarea>
    <button type="button" class="form__btn">Добавить</button>
  </form>
</div>